@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/pay.ttf);
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
main {
  margin: 1em;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.3em 1em;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.movies{
  width: 1200px;
  margin: auto;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  list-style-type: none;
  padding: 0;
}
.movie-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination span {
  font-size: 2em;
  margin: 0 1em;
}
#prevPage,
#nextPage {
  font-size: 2em;
  text-decoration: none;
  color: #000;
}

/* Home page */

.header-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;
  background-color: rgb(3, 0, 22);
  background-size: cover;
  z-index: 1;
  height: 14%;
}

.container-hero-cover {
  width: 100%;
  height: 90vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-hero {
  background-image: linear-gradient(
    to right,
    rgb(20, 30, 48, 0.8),
    rgba(0, 71, 153, 0.4),
    rgb(208, 199, 199, 0)
  );
  background-size: cover;
  width: 100%;
  height: 90vh;
  filter: brightness(
    90%
  ); 
}

.hero-container {
  position: absolute;
  display: flex;
  padding: 2em 2.5em;
  width: 40%;
  left: 33px;
  top: 3%;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  justify-content: center;
  height: 90vh;
}
.header-section {
  display: flex;
  align-items: center;
  gap: 1em;
}
.hero-title,
.hero-date {
  font-size: 3rem;
  font-weight: 900;
  color: #58eae5;
  font-family: myFirstFont;
  margin-bottom: 0;
}

.hero-container p {
  text-shadow: 2px 2px #000000;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 3em;
}

.hero-information {
  display: flex;
  background-color: white;
  padding: 1rem 1rem;
  text-align: center;
  align-items: center;
}

.hero-information > a {
  text-decoration: none;
  color: #000;
  margin: auto 0;
}

.hero-modal {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 2em;
  align-items: center;
}

.btn-trailer {
  background-color: #58eae5;
  padding: 1rem 1rem;
  padding-bottom: 1.4rem;
  border-radius: 10%;
}

.listcontent-container {
  padding: 2em;
}

.categories a {
  color: #fff;
  text-decoration: none;
  margin-left: 1em;
}

/* Modal Styles  */
.trailer-modal,
.rate-modal,
.lists-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

.modal-header,
.rate-modal-header,
.lists-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
.rate-modal-header,
.lists-modal-header {
  padding: 0.2em 1em;
}
.modal-header h3,
.rate-modal-header h3 {
  margin: 0.8em 0;
  color: #ffff;
}
.rate-modal-header h3,
.lists-modal-header {
  color: #000;
}

.modal-header span {
  color: #ffffff7e;
}
.rate-modal-header span,
.lists-modal-header span {
  color: #1f1f1f7e;
}
.close-modal,
.close-modal-rate,
.close-modal-list {
  margin: 0;
  padding: 0 0.2em;
  font-size: 1.5em;
  cursor: pointer;
}
.close-modal:hover {
  background-color: rgba(221, 219, 219, 0.171);
  border-radius: 5px;
}
.close-modal-rate:hover,
.close-modal-list:hover {
  background-color: rgba(44, 44, 44, 0.171);
  border-radius: 5px;
}
/* Modal Content */
.modal-content,
.rate-modal-content .lists-modal-content {
  background-color: #000;
  margin: auto;
  width: 70%;
}
.rate-modal-content hr,
.lists-modal-content hr {
  margin: 0;
}
.rate-modal-content,
.lists-modal-content {
  background-color: #fff;
  border-radius: 20px;
  width: 25%;
  padding: 0 1em;
}
#btn-openModal-trailer {
  cursor: pointer;
  font-weight: bold;
}
.play-icon {
  padding-right: 0.2em;
  font-size: 1.2em;
}

.rate-modal-body .lists-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
/* End Modal Styles */

/* Login Page */

#body-login {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces_filter(duotone,00192f,00baff)/VlHt27nCqOuTnuX6bku8QZapzO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.camp-form-login {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 0.5em;
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#submitLogin {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  background-color: #303030;
  color: #ffff;
  cursor: pointer;
}
#form-login {
  padding: 5em;
  background-color: #0e0d0d41;
}
#form-login label {
  color: #ffff;
}
#form-login input {
  padding: 0.5em;
  border: none;
}

/* End Login Page Styles */

/* Movie Details Styles Page */
.main-detail {
  margin: 0;
}
.movie-certification {
  border-radius: 5px;
  border: solid 1px #acacac;
  padding: 0.1em 0.2em;
  text-align: center;
  color: #acacac;
}
.movie-genres a {
  text-decoration: none;
  color: #fff;
}
.cover-detail {
  background-image: linear-gradient(
    to right,
    rgb(31.5, 31.5, 73.5) calc((50vw - 170px) - 340px),
    rgba(95, 55, 128, 0.84) 50%,
    rgba(77, 23, 23, 0.84) 100%
  );
}
.container-movie-cover {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-detail {
  display: flex;
  padding: 2em 2.5em;
  gap: 1em;
  max-width: 1440px;
  margin: 2em auto;
  align-items: center;
}

.container-movie-cover img {
  border-radius: 10px;
}
.container-movie-cover div {
  color: #ffffff;
}
.container-actions-movie {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}
.container-actions-movie li {
  list-style: none;
}
.average-movie {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#myCanvas {
  background-color: #00021bcb;
  border-radius: 50%;
}
.actions {
  background-color: #000318;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.7em;
  cursor: pointer;
}
.icon-actions {
  width: 20px;
  border: none;
}
/* Content Container  */

.div-title {
  margin: 0.2em 0;
}

.content-container {
  max-width: 1440px;
  margin: auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 80% 20%;
}

.information-movie {
  grid-column: 2/3;
  grid-row: 1/3;
}
/* Main Cast Style */

.movie-cast-container,
.recommendation-movies-container {
  max-width: 1000px;
}

.nowplaying-movies-container {
  max-width: 85%;
  margin: auto;
}

.movie-cast,
.recommendation-movies,
.nowplaying-movies {
  margin: 0;
  display: grid;
  padding: 1em 0;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  list-style: none;
}
.movie-cast::-webkit-scrollbar,
.recommendation-movies::-webkit-scrollbar,
.nowplaying-movies::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #f5f5f5;
}
.movie-cast::-webkit-scrollbar-thumb,
.recommendation-movies::-webkit-scrollbar-thumb,
.nowplaying-movies::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #afafaf;
}
.movie-cast li,
.recommendation-movies li,
.nowplaying-movies li {
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #d6d5d5;
  height: 100%;
}
.movie-cast li img {
  border-radius: 10px 10px 0 0;
}
.movie-cast li p {
  margin: 0;
  padding: 0 10px;
}
.cast-name {
  font-size: 0.9em;
}
.movie-cast li p:last-child {
  font-size: 0.8em;
}
.see-more-cast {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more-cast a {
  text-decoration: none;
  color: #000;
}
.arrow {
  font-weight: bold;
}
/* End Main Cast Style */

/* Recommendation Styles */
.recommendation-movies {
  grid-auto-columns: 262px;
  gap: 0.7em;
  padding: 1em 0 0.5em;
}

.nowplaying-movies {
  grid-auto-columns: 170px;
  gap: 0.7em;
  padding: 1em 0 0.5em;
}
.recommendation-movies li div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-right: 0.2em;
}

.nowplaying-movies li div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-right: 0.2em;
}
.recommendation-movies li {
  border: none;
  height: auto;
}

.nowplaying-movies li {
  border: none;
  height: auto;
  width: 150px;
}
.recommendation-movies li a img,
.nowplaying-movies li a img {
  border-radius: 10px;
}
.recommendation-movies li div a,
.nowplaying-movies li div a {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
.recommendation-movies li div p,
.nowplaying-movies li div p {
  margin: 0;
  font-size: 0.8em;
}

/* End Recommendation Styles */

/* End Movie Details Styles Page */

/* Media Queries */
@media screen and (min-width: 1600px) {
  .modal-content {
    background-color: #000;
    margin: auto;
    width: 75%;
  }
  #trailerIframe {
    height: 800px;
  }
}

/* Movie Rating Styles */
.rate {
  display: inline-block;
  border: 0;
}

.rate > input {
  display: none;
}

.rate > label {
  float: right;
}

.rate > label:before {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0.3rem 0.2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 ";
}

.rate > label:last-child:before {
  content: "\f006 ";
}
.rate .half:before {
  content: "\f089 ";
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
.rating:checked ~ label,
.rating:hover,
.rating:hover ~ label {
  color: #ffee02;
}

.rating:checked + label:hover,
.rating:checked ~ label:hover,
.rating:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
  color: #ffee02;
}

/* Create List styles */

.form-list-create {
  display: none;
}
.form-list-create.active {
  display: block;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  border-bottom: solid #000 1px;
  padding: 0.2em;
}
.lists div p {
  margin: 0.2em;
}
.lists div p:first-child {
  font-weight: bold;
}
.lists div p:last-child {
  font-size: 0.8em;
}
.lists button {
  font-size: 0.9em;
  background-color: #fff;
  color: #000;
}

.lists button:hover {
  background-color: rgba(44, 44, 44, 0.171);
  border-radius: 5px;
}

.lists-modal-footer {
  padding: 0.5em 0.5em 1em;
}
.camp-form-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
.camp-form-list input {
  text-indent: 0.3em;
  padding: 0.5em 0;
}
#createList {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.3em 1em;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
