:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
main{
  margin: 1em;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  list-style-type: none;
  padding: 0;
}
.movie-list a {
  text-decoration: none;
  color: var(--dark-grey);
}


/* Modal Styles  */
.trailer-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
}
.modal-header h3{
  margin: .8em 0;
  color: #ffff;
}

.modal-header span{
  color: #ffffff7e;
}
.close-modal {
  margin: 0;
  padding: 0 .2em;
  font-size: 1.5em;
  cursor: pointer;
}
.close-modal:hover {
  background-color: rgba(221, 219, 219, 0.171);
  border-radius: 5px;
}
/* Modal Content */
.modal-content {
  background-color: #000;
  margin: auto;
  width: 70%;
}


/* End Modal Styles */



/* Media Queries */
@media screen and (min-width: 1600px) {
  .modal-content {
    background-color: #000;
    margin: auto;
    width: 75%;
  }
  #trailerIframe{
    height: 800px;
  }
}