:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
main {
  margin: 1em;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  list-style-type: none;
  padding: 0;
}
.movie-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Modal Styles  */
.trailer-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
.modal-header h3 {
  margin: 0.8em 0;
  color: #ffff;
}

.modal-header span {
  color: #ffffff7e;
}
.close-modal {
  margin: 0;
  padding: 0 0.2em;
  font-size: 1.5em;
  cursor: pointer;
}
.close-modal:hover {
  background-color: rgba(221, 219, 219, 0.171);
  border-radius: 5px;
}
/* Modal Content */
.modal-content {
  background-color: #000;
  margin: auto;
  width: 70%;
}
#btn-openModal-trailer {
  cursor: pointer;
  font-weight: bold;
}
.play-icon {
  padding-right: 0.2em;
  font-size: 1.2em;
}
/* End Modal Styles */

/* Login Page */

#body-login {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h1080_multi_faces_filter(duotone,00192f,00baff)/VlHt27nCqOuTnuX6bku8QZapzO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.camp-form-login {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 0.5em;
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#submitLogin {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  background-color: #303030;
  color: #ffff;
  cursor: pointer;
}
#form-login {
  padding: 5em;
  background-color: #0e0d0d41;
}
#form-login label {
  color: #ffff;
}
#form-login input {
  padding: 0.5em;
  border: none;
}

/* End Login Page Styles */

/* Movie Details Styles Page */
.main-detail {
  margin: 0;
}
.movie-certification {
  border-radius: 5px;
  border: solid 1px #acacac;
  padding: 0.1em 0.2em;
  text-align: center;
  color: #acacac;
}
.movie-genres a {
  text-decoration: none;
  color: #fff;
}
.cover-detail {
  background-image: linear-gradient(
    to right,
    rgb(31.5, 31.5, 73.5) calc((50vw - 170px) - 340px),
    rgba(95, 55, 128, 0.84) 50%,
    rgba(77, 23, 23, 0.84) 100%
  );
}
.container-movie-cover {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-detail {
  display: flex;
  padding: 2em 2.5em;
  gap: 1em;
  max-width: 1440px;
  margin: 2em auto;
  align-items: center;
}

.container-movie-cover img {
  border-radius: 10px;
}
.container-movie-cover div {
  color: #ffffff;
}
.container-actions-movie {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}
.container-actions-movie li {
  list-style: none;
}
.average-movie {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#myCanvas {
  background-color: #00021bcb;
  border-radius: 50%;
}
.actions {
  background-color: #000318;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.7em;
  cursor: pointer;
}
.icon-actions {
  width: 20px;
  border: none;
}
/* Content Container  */

.div-title {
  margin: 0.2em 0;
}

.content-container {
  max-width: 1440px;
  margin: auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 80% 20%;
}

.information-movie {
  grid-column: 2/3;
  grid-row: 1/3;
}
/* Main Cast Style */

.movie-cast-container,
.recommendation-movies-container {
  max-width: 1000px;
}
.movie-cast,
.recommendation-movies {
  margin: 0;
  display: grid;
  padding: 1em 0;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  list-style: none;
}
.movie-cast::-webkit-scrollbar,
.recommendation-movies::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #f5f5f5;
}
.movie-cast::-webkit-scrollbar-thumb,
.recommendation-movies::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #afafaf;
}
.movie-cast li,
.recommendation-movies li {
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #d6d5d5;
  height: 100%;
}
.movie-cast li img {
  border-radius: 10px 10px 0 0;
}
.movie-cast li p {
  margin: 0;
  padding: 0 10px;
}
.cast-name {
  font-size: 0.9em;
}
.movie-cast li p:last-child {
  font-size: 0.8em;
}
.see-more-cast {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more-cast a {
  text-decoration: none;
  color: #000;
}
.arrow {
  font-weight: bold;
}
/* End Main Cast Style */

/* Recommendation Styles */
.recommendation-movies {
  grid-auto-columns: 262px;
  gap: 0.7em;
  padding: 1em 0 0.5em;
}
.recommendation-movies li div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-right: 0.2em;
}
.recommendation-movies li {
  border: none;
  height: auto;
}
.recommendation-movies li a img {
  border-radius: 10px;
}
.recommendation-movies li div a {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
.recommendation-movies li div p {
  margin: 0;
  font-size: 0.8em;
}

/* End Recommendation Styles */

/* End Movie Details Styles Page */

/* Media Queries */
@media screen and (min-width: 1600px) {
  .modal-content {
    background-color: #000;
    margin: auto;
    width: 75%;
  }
  #trailerIframe {
    height: 800px;
  }
}

/* Movie Rating Styles */

.rate {
  display: inline-block;
  border: 0;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
  float: right;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 30px;
  padding: 0.3rem 0.3rem;
  margin: 0 2px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  font-weight: 900;
}
/* Zero stars rating */
.rate > label:last-child:before {
  font-weight: 500;
}
/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label {
  color: #51750d;
} /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ {
  color: #a6e72d;
}
